/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100%;
}

@font-face {
    font-family: 'Zain';
    src: url('../assets/Zain-Regular.ttf') format('truetype');
}

#darkbackground {
    background-color: #111;
}

/* Add font family and color to body */
body {
    font-family: 'Zain', sans-serif;
}

/* Style header */
header {
    /* Make header background color dark */
    background-color: rgba(0, 0, 0, 0.3);
    /* Make text color white */
    color: white;
    /* Add padding to header */
    padding: 1rem 2rem;
    /* Make header display as flex box */
    display: flex;
    /* Make header content justify to space-between */
    justify-content: space-between;
    /* Align header content to center */
    align-items: center;
}


/* Style logo */
.logo {
    /* Make logo font bold and font size 1.5rem */
    font-weight: bold;
    font-size: 1.5rem;
}

.logo a {
    /* Make link color white */
    color: white;
    /* Remove underline from link */
    text-decoration: none;
    font-size: 3rem;
}

/* Style links in nav */
nav a {
    /* Make link color white */
    color: white;
    /* Remove underline from links */
    text-decoration: none;
    /* Add margin to links */
    margin-left: 1.5rem;
    /* Make link font size 1rem */
    font-size: 2rem;
    font-family: 'Zain';
}

/* Style menu toggle */
.menu-toggle {
    /* Hide menu toggle by default */
    display: none;
    /* Make menu toggle font size 1.5rem */
    font-size: 1.5rem;
    /* Make menu toggle cursor a pointer */
    cursor: pointer;
}

/* Media query for screen width less than 768px */
@media (max-width: 768px) {
    /* Hide nav by default */
    nav {
    display: none;
    /* Make nav display as flex box */
    flex-direction: column;
    /* Make nav background color dark */
    background-color: rgba(0, 0, 0, 0.7);
    /* Make nav position absolute */
    position: absolute;
    /* Make nav top position 60px */
    top: 60px;
    /* Make nav right position 0 */
    right: 0;
    /* Make nav width 200px */
    width: 200px;
    /* Add padding to nav */
    padding: 1rem;
    border-radius: 35px;
    /* On top of everything */
    z-index: 3;
    }

    /* Make nav active */
    nav.active {
    /* Make nav display as flex box */
    display: flex;
    }

    /* Make menu toggle visible */
    .menu-toggle {
    /* Make menu toggle display as block */
    display: block;
    }
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

.slide {
    display: flex;
    align-items: center;      /* Vertically center content */
    justify-content: center;  /* Horizontally center content */
    height: 100vh;            /* Or whatever height you want */
    position: relative;
    overflow: visible;
}

.home-container {
    background-color: #c2dee2;
    background-image: url("../assets/homeBackground.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-container .slide img {
    width: auto;
    height: 75vh;
    object-fit: cover;
    display: block;
    padding: 20px;
}

.slide-track {
    display: flex;
    width: max-content;
    /* animation: scroll 25s linear infinite; */
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%)}
}

.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    padding: 0 1rem;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.banner p {
    font-size: 2rem;
}
/* about page */

#aboutBackground {
    position: fixed;
    top: 0;   
    left: 0;  
    width: 100%; 
    height: 100%; 
    line-height: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.background-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    transition: opacity 1s ease;
    opacity: 1;
}


.about-image {
    height: 40vh;
    object-fit: cover;
    display: block;
    padding: 20px;
    aspect-ratio: 1;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
        transform: translateX(-30vw);
	}
	100% {
		opacity: 1;
        transform: translateX(-15vw);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
        transform: translateX(30vw);
	}
	100% {
		opacity: 1;
        transform: translateX(15vw);
	}
}

.about-containers {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px 0;
    gap: 2rem;
    width: 100vw;
}

.about-image-container-left, .about-image-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.about-image-container-left {
    transform: translateX(-15vw);
}

.about-image-container-right {
    transform: translateX(15vw);
}

@media (max-width: 768px) {
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translateX(-25vw);
        }
        100% {
            opacity: 1;
            transform: translateX(0vw);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(25vw);
        }
        100% {
            opacity: 1;
            transform: translateX(0vw);
        }
    }
    .about-image-container-left {
        transform: translateX(-0vw);
    }

    .about-image-container-right {
        transform: translateX(0vw);
    }
}


.about-image-container-left.visible {
    animation: fadeInLeft 0.75s ease-out;
    opacity: 1;
}

.about-image-container-right.visible {
    animation: fadeInRight 0.75s ease-out;
    opacity: 1;
}

.about-text {
    font-size: 2rem;
}

#aboutpage footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, rgba(34, 34, 34, 1), rgba(34, 34, 34, 0));
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    position: relative;
    bottom: 0;
}

/* gallery page */
#gallery-container {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
}

#galleryimg {
    width:25vw;
    padding: 20px;
}