/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100vw;
}

@font-face {
    font-family: 'Zain';
    src: url('../assets/Zain-Regular.ttf') format('truetype');
}

#darkbackground {
    background-color: #111;
}

/* Add font family and color to body */
body {
    font-family: 'Zain', sans-serif;
}

/* Style header */
header {
    /* Make header background color dark */
    background-color: rgba(0, 0, 0, 0.3);
    /* Make text color white */
    color: white;
    /* Add padding to header */
    padding: 16px 32px;
    /* Make header display as flex box */
    display: flex;
    /* Make header content justify to space-between */
    justify-content: space-between;
    /* Align header content to center */
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-radius: 0 0 16px 16px;
    z-index: 1000;
}


/* Style logo */
.logo {
    /* Make logo font bold and font size 1.5rem */
    font-weight: bold;
}

.logo a {
    /* Make link color white */
    color: white;
    /* Remove underline from link */
    text-decoration: none;
    font-size: 48px;
}

/* Style links in nav */
nav a {
    /* Make link color white */
    color: white;
    /* Remove underline from links */
    text-decoration: none;
    /* Add margin to links */
    margin-left: 24px;
    font-size: 32px;
    font-family: 'Zain';
}

/* Style menu toggle */
.menu-toggle {
    /* Hide menu toggle by default */
    display: none;
    /* Make menu toggle font size 1.5rem */
    font-size: 24px;
    /* Make menu toggle cursor a pointer */
    cursor: pointer;
}

/* Home page*/

.slider {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.slide {
    display: flex;
    align-items: center;      /* Vertically center content */
    justify-content: center;  /* Horizontally center content */
    height: 90vh;            /* Or whatever height you want */
    position: relative;
    overflow: visible;
}

.home-container {
    background-color: #c2dee2;
    background-image: url("../assets/homeBackground.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-container .slide img {
    width: auto;
    height: 75vh;
    object-fit: cover;
    display: block;
    padding: 20px;
}

.slide-track {
    display: flex;
    width: max-content;
    /* animation: scroll 25s linear infinite; */
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%)}
}

.banner {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    padding: 0 16px;
}

.banner h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.banner p {
    font-size: 32px;
}

/* Media query for screen width less than 768px */
@media (max-width: 768px) {
    /* Hide nav by default */
    nav {
    display: none;
    /* Make nav display as flex box */
    flex-direction: column;
    /* Make nav background color dark */
    background-color: rgba(0, 0, 0, 0.7);
    /* Make nav position absolute */
    position: absolute;
    /* Make nav top position 60px */
    top: 60px;
    /* Make nav right position 0 */
    right: 0;
    /* Make nav width 200px */
    width: 200px;
    /* Add padding to nav */
    padding: 16px;
    border-radius: 35px;
    /* On top of everything */
    }

    /* Make nav active */
    nav.active {
    /* Make nav display as flex box */
    display: flex;
    z-index: 1000;
    }

    /* Make menu toggle visible */
    .menu-toggle {
    /* Make menu toggle display as block */
    display: block;
    }

    .home-container .slide img {
        height: 50vh;
    }
}


/* about page */


#aboutBackground {
    position: fixed;
    top: 0;   
    left: 0;  
    width: 100%; 
    height: 100%; 
    line-height: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    /* transition: opacity 1s ease; */
    opacity: 1;
}

.about-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    aspect-ratio: 2;
    max-height: 100vh;
    justify-content: space-between;
}

.about-image-left, .about-image-right {
    max-height: 100vh;
    width:55%;
    border-radius: 16px;
    object-fit: cover;
    display: block;
    aspect-ratio: 1;
    right: 0;
    opacity: 0;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.about-text-container {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    height: 100%;
    transition: opacity .7s ease-in;
    opacity: 0;
    width: 45%;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-text-left, .about-text-right {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    opacity: 0;
    color: #fff;
    z-index: 6;
    width: 80%;
}

.about-title-left, .about-title-right {
    margin: 0 auto;
    font-size: 64px;
    opacity: 0;
    color: #fff;
    z-index: 6;
    width: 80%;
    text-align: center;
}

.about-image-left.visible, .about-text-left.visible, .about-title-left.visible {
    animation: fadeInLeft .7s ease-in-out;
    opacity: 1;
}

.about-image-right.visible, .about-text-right.visible, .about-title-right.visible {
    animation: fadeInRight .7s ease-in-out;
    opacity: 1;
}

.about-text-container.visible {
    opacity: 1;
    z-index: 5;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
        transform: translateX(-30vw);
	}
	100% {
		opacity: 1;
        transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
        transform: translateX(30vw);
	}
	100% {
		opacity: 1;
        transform: translateX(0);
	}
}


@media (max-width: 768px) {
    .about-row {
        position: relative;
        aspect-ratio: auto;
    }

    .about-text-container {
        position: absolute;
        aspect-ratio: 1;
        height: auto;
        margin-top: 50px;
        width: 100%;
    }

    .about-image-left, .about-image-right {
        width: 100%;
        max-height: auto;
        margin-top: 50px;
    }

    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translateX(-25vw);
        }
        100% {
            opacity: 1;
            transform: translateX(0vw);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(25vw);
        }
        100% {
            opacity: 1;
            transform: translateX(0vw);
        }
    }
    
    .about-text-left, .about-text-right {
        font-size: 24px;
    }

    .about-title-left, .about-title-right {
        font-size: 40px;
    }
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, rgba(34, 34, 34, 1), rgba(34, 34, 34, 0));
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    position: relative;
    bottom: 0;
}


/* gallery page */


#gallery-page {
    transition: background-color 2s ease-in-out;
}

.gallery-bg-layer {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

#gallery-bg1 {
  opacity: 1;
  z-index: -1;
}

#gallery-bg2 {
  opacity: 0;
  z-index: -2;
}

#gallery-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: 100vw;
    padding: 0 10vw 10vw 10vw;
}

.galleryImg {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1;
}

.loadingGalleryImg, .loadedGalleryImg {
    position: relative;
    max-width: 38vw;
    height: calc(38vw * 2/3);
    overflow: hidden;
}

.loadingGif {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media (max-width: 768px) {
    .galleryImg{
        height: 100%;
        width: 100%;
    }

    .loadingGalleryImg, .loadedGalleryImg {
        position: relative;
        max-width: none;
        width: 74vw;
        height: auto;
    }
}

#fullscreen-img {
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: center center;
  transition: all 0.5s ease;
  z-index: 1000;
  pointer-events: none;
  will-change: transform, top, left, width, height;
}

.fullscreen-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #8ea38c;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 10px 2vw;
    margin: 3vw auto;
    width: fit-content;
    max-width: 94vw;
    height: fit-content;
    gap: 15px;
    transition: height 0.5s ease-in-out;
}

.checkboxIcon {
    width: 80px;
    height: 80px;
}

.checkboxIcon:hover {
    cursor: pointer;
}

#random {
    background-color: transparent;
    border: none;
    width: 80px;
    height: 80px;
}

#random:active {
    filter: invert(1);
}

@media (max-width: 768px) {
    .checkboxIcon {
        width: 45px;
        height: 45px;
    }
    #random {
        width: 45px;
        height: 45px;
    }
    #filters-container {
        gap: 10px;
    }
}

.checkboxAndIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#close-icon {
    position: relative;
    font-size: 65px;
    color: white;
    opacity: 0.5;
    left:2vw;
}

#close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1001;
    transition: opacity 0.2s ease;
}

#next-icon {
    width: 150px;
    height: 150px;
    filter: invert(1);
    opacity: 0.5;
}

#next-button {
    position: absolute;
    top: calc(50vh - 80px);
    right: 20px;
    cursor: pointer;
}

#prev-icon {
    width: 150px;
    height: 150px;
    filter: invert(1);
    opacity: 0.5;
}

#prev-button {
    position: absolute;
    top: calc(50vh - 80px);
    left: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #next-icon {
        width: 75px;
        height: 75px;
    }
    #next-button {
        top: auto;
        bottom: 7vh;
    }
    #prev-icon {
        width: 75px;
        height: 75px;
    }
    #prev-button {
        top: auto;
        bottom: 7vh;
    }
}

#gallery-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#gallery-desc {
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 10px 0;
}

.checkboxText {
    font-size: 20px;
    opacity: 1;
}

/* Contact page */

#contact-background {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-image: linear-gradient(to bottom, #3c5d2d, #4e6a39, #5c7a45, #6b8b53, #778d62);
    overflow: hidden;
    padding-left: 2vw;
    padding-right: 2vw;
}

/* #contact-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
} */

.portrait-column-up, .portrait-column-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    width: 30vw;
    z-index: -3;
}


.contactimg {
    max-width: 30vw;
    height: calc(30vw * 2/3);
}

@media (max-width: 768px) {
    .portrait-column-down {
        display: none;
    }
    .portrait-column-up {
        width: 100vw;
    }
    .contactimg {
        max-width: 90vw;
        height: calc(90vw * 2/3);
    }
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-33%);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(33%);
    }
}

.contact-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px) saturate(180%);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #e0e0e0;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #e0e0e0;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #4e8c3a;
    box-shadow: 0 0 5px rgba(78, 140, 58, 0.4);
    outline: none;
}

#contact-form textarea {
    min-height: 120px;
    resize: vertical;
}

#contact-form button {
    margin-top: 20px;
    padding: 12px;
    background: #3ba319;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#contact-form button:hover {
    background: #3e732e;
    transform: scale(1.02);
}

#contact-form button:active {
    transform: scale(0.98);
}

#email-link {
    display:flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding-top: 10px;
}

#social-links {
  display: flex;
  justify-content: center;   /* centers icons horizontally */
  align-items: center;       /* aligns them vertically */
  gap: 20px;                 /* spacing between icons */
  margin-top: 20px;
}

.contact-icon {
  width: 75px;
  height: 75px;
  transition: transform 0.2s ease;
}

.contact-icon:hover {
  transform: scale(1.15); /* little zoom effect on hover */
}

.success-icon {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: block;
}

#success-message {
    display: none;
}